@import "css-reset.css";
@import "fonts.css";

:root {
  --box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  --color-primary: hsl(197, 71%, 73%);
  --color-secondary: hsl(0, 0%, 100%);
  --color-tertiary: hsl(17, 71%, 73%);
  --radius-small: 2px;
  --radius-medium: 5px;
  --radius-large: 10px;
}

body {
  font-family: "Josefin Sans Regular", sans-serif;
}

strong {
  font-family: "Josefin Sans Bold", sans-serif;
}

i,
em {
  font-family: "Josefin Sans Italic", sans-serif;
}

header,
nav,
h1.bold,
h2.bold,
h3.bold,
h4.bold,
h5.bold {
  font-family: 'Amatic SC Bold', cursive;
}

footer,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Amatic SC Regular', cursive;
}

img, video {
  max-width: 100%;
}
