/* 
background-color: purple; 
background-color: rgba(128, 0, 128, 0.527);
*/
/*fallback color*/

.card {
  border: 1px solid var(--color-tertiary);
  border-radius: var(--radius-large);
  min-width: 150px;
}

.imgContainer {

}

.img {
  
}

.para {

}
