.nav {
  color: var(--color-tertiary);
  font-size: 2em;
  width: 100%;
}

.para {
  max-width: 120px;
  width: 100%;
  text-shadow: 1px 1px var(--color-secondary);
  display: flex;
}

.span {
  margin-left: auto;
}
